{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "head" }}
<script src="/audiojs/audio.min.js"></script>
<script>
    audiojs.events.ready(function () {
        var as = audiojs.createAll({
            play: function () {
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Audio',
                    eventAction: 'play',
                    eventLabel: '{{ .Title | plainify }}'
                });
            }
        });
    });
</script>
{{ end }}

{{ define "main" }}
<article>
    <header>
        <h2>{{ .Title }}</h2>
        <time>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>
        <p>{{ .Params.podcast_duration }}</p>
        {{ if .Params.explicit }}
        <p>露骨な言語表現やアダルトコンテンツが含まれます</p>
        {{ end }}
    </header>

    <p>
        {{ .Params.description }}
    </p>

    <hr>

    <p>
        Podcast専用アプリで聴く:
        {{ partial "subscribeon.html" . }}
        直接ダウンロードして聴く:
        <ul>
            <li><a href="/audio/{{ .Params.podcast_file }}" target="_blank">{{ .Params.podcast_file }}</a></li>
        </ul>
        試し聴き:
        <audio src="/audio/{{ .Params.podcast_file }}" preload="none"></audio>
    </p>

    <hr>

    {{ .Content }}
</article>
<hr>
{{ end }}