html,body {
    margin: 0;
    font-size: 16px;
    background-color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, helvetica neue, segoe ui, noto sans japanese, ヒラギノ角ゴ pron w3, Meiryo, sans-serif;
}

header.site h1 {
    margin: 0;
}

header.site h1 span {
    display: none;
}


header.site a {
    display: block;
    width: 100vw;
    height: 100vw;
    background-image: url("/img/cover.jpg");
    background-size: cover;
}

main {
    padding: 1em;
}

article ul {
    padding-left: 1em;
}

ul.episodes {
    padding: 0;
    list-style: none;
}

.audiojs {
    max-width: 100%;
    margin: 0 auto;
}

footer {
    margin-bottom: 1em;
}

footer p {
    margin: 0;
    text-align: center;
}

@media(min-width: 600px){
    header.site {
        margin-top: 1em;
    }
    header.site h1 {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    header.site h1 span {
        display: block;
        max-width: 300px;
    }
    header.site a {
        display: block;
        width: 300px;
        height: 300px;
        background-image: url("/img/cover.jpg");
        background-size: cover;
        margin-right: 1em;
    }
    main {
        max-width: 800px;
        margin: 0 auto;
    }
}